.markdown a {
  text-decoration: underline;
}

.markdown a:hover {
  color: #3498db;
}

.markdown ul {
  list-style: circle;
  padding: 0 1rem 0;
}

.markdown p {
  padding: 0.25rem 0 0.25rem 0;
}

.markdown blockquote {
  margin: 1rem 0;
}

.markdown blockquote {
  border-left: 4px solid #666666;
  padding-left: 1rem;
}

.markdown h2 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.markdown h3 {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.markdown h4 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.markdown {
  font-size: 0.9rem;
}

.markdown strong {
  font-weight: bold;
}
